.about_container {
    width: 100%;
    background-image: url(../../images/about/back_ground.png);
    background-repeat: no-repeat;
    padding-top: 98px;
    padding-bottom: 20px;
    max-width: 1380px;
    min-width: 320px;
    width: 100%;
    box-sizing: border-box;

    .about_wrapper {
        max-width: 1200px;
        min-width: 320px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;

        .about_title {
            text-align: center;
            font-size: $paragrph_title;
            color: $title_color;
            font-weight: $font_bold;
            font-style: normal;
        }

        .about_cards_box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 75px;;
            margin-bottom: 118px;

            .about_card {
                width: 324px;
                margin-right: 114px;
                margin-bottom: 102px;

                .about_icon {

                    &:nth-of-type(1), &:nth-of-type(4) {
                        margin-left: 40px;
                    }

                    &:nth-of-type(3), &:nth-of-type(6) {
                        margin-left: 60px;
                    }
                }

                .about_card_text {
                    margin-top: 25px;
                    font-size: $normal_size;
                    color: $title_color;
                    font-weight: $font_bold;
                    font-family: 'Lato';
                    text-align: center;
                }

                &:nth-of-type(3), &:last-child {
                    margin: 0;
                }

                &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                    margin-bottom: 0;
                }
            }
        }

        .about_footer {
            color: #A291A5;
            font-size: $low_size;
            font-weight: $font_defoult;
            width: 887px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 20px;
        }

        .about_footer::after {
            bottom: 18px;
            left: 20px;
            height: 1px;
            width: 700px;
            background-color: #645766;
        }
    }
}