<section class="section_editor">
    <div class="container section_btn">
        <div class="section_btn__btn-wrap">
            <button class="section_btn__btn-wrap__text">Download For Free Now</button>
            <p class="section_btn__btn-wrap__subtext">Unlimited 30-Days Trial Period</p>
        </div>
        <div class="section_editor__content">
        <h2 class="section_editor__content__title">Revolutionary editor</h2>
        <p class="section_editor__content__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
        </div>
    </div>
  </section>