<section class="section_editor">
    <div class="container section_btn">
        <div class="section_btn__btn-wrap">
            <button class="section_btn__btn-wrap__text">Download For Free Now</button>
            <p class="section_btn__btn-wrap__subtext">Unlimited 30-Days Trial Period</p>
        </div>
        <div class="section_editor__content">
        <h2 class="section_editor__content__title">Revolutionary editor</h2>
        <p class="section_editor__content__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
        </div>
        <div class="github_wrap">
            <div class="github_box">
                <a class="github_box__btn" href="#">
                    <span class="github_box__btn__content"><img class="github_box__btn__icon" src="./images/editor/watch-icon.svg" alt="Watch icon" width="18" height="18">Watch</span>
                </a>
                <span class="github_box__counter">1,397</span>
            </div>
            <div class="github_box">
                <a class="github_box__btn" href="#">
                    <span class="github_box__btn__content"><img class="github_box__btn__icon" src="./images/editor/star-icon.svg" alt="Watch icon" width="18" height="18">Star</span>
                </a>
                <span class="github_box__counter">21,038</span>
            </div>
            <div class="github_box">
                <a class="github_box__btn" href="#">
                    <span class="github_box__btn__content"><img class="github_box__btn__icon" src="./images/editor/fork-icon.svg" alt="Watch icon" width="18" height="18">Fork</span>
                </a>
                <span class="github_box__counter">4,391</span>
            </div>
        </div>
    </div>
  </section>