<section class="get_section">
    <div class="container">
        <div class="get_section__wrap">
        <h2 class="get_section__title">Here is what you get</h2>
        <ul class="get_section__cards">
            <li class="card__item">
                <div class="card_icon">
                    <img src="./images/get/icon1.svg" alt="Icon card">
                </div>
                <div class="card_content">
                    <h3 class="card_content__title">Creatred to Make The Web Better</h3>
                    <p class="card_content__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
                </div>
            </li>
            <li class="card__item">
                <div class="card_icon">
                    <img src="./images/get/icon2.svg" alt="Icon card">
                </div>
                <div class="card_content">
                    <h3 class="card_content__title">Incredibly Powerful Tool</h3>
                    <p class="card_content__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>
            </li>
            <li class="card__item">
                <div class="card_icon">
                    <img src="./images/get/icon3.svg" alt="Icon card">
                </div>
                <div class="card_content">
                    <h3 class="card_content__title">Experimental Stuff</h3>
                    <p class="card_content__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>
            </li>
            <li class="card__item">
                <div class="card_icon">
                    <img src="./images/get/icon4.svg" alt="Icon card">
                </div>
                <div class="card_content">
                    <h3 class="card_content__title">Creatred to Make The Web Better</h3>
                    <p class="card_content__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>
            </li>
        </ul>
        <div class="get_section__img">
            <img class="get_section__img-pic" src="./images/get/editor_img.png" alt="Hello Fork">
        </div>
    </div>
</div>
</section>