<section class="subscription_section">
    <div class="container">
        <h2 class="subscription_section__title">Fork Subscription Pricing</h2>
        <ul class="subscription_section__card-wrapper">
            <li class="subscriptions__card subscription__card-first">
                <h3 class="card__title">Students</h3>
                <p class="card__price"><span>&#36;</span>29</p>
                <p class="card__text">per month</p>
                <p class="card__desc">Personal License</p>
                <a href="#" class="card__btn">purchase</a>
            </li>
            <li class="subscriptions__card subscription__card-second">
                <h3 class="card__title">professional</h3>
                <p class="card__price"><span>&#36;</span>59</p>
                <p class="card__text">per Month</p>
                <p class="card__desc">Professional License<br/>Email Support</p>
                <a href="#" class="card__btn">purchase</a>
            </li>
            <li class="subscriptions__card subscription__card-third subscription__card--active">
                <h3 class="card__title card__title--active">agency</h3>
                <p class="card__price card__price--active"><span>&#36;</span>99</p>
                <p class="card__text card__text--active">per Month</p>
                <p class="card__desc card__desc--active">1-12 Team Members<br/>Phone Support</p>
                <a href="#" class="card__btn card__btn--active">purchase</a>
            </li>
            <li class="subscriptions__card subscription__card-fourth">
                <h3 class="card__title">enterprise</h3>
                <p class="card__price"><span>&#36;</span>159</p>
                <p class="card__text">per Month</p>
                <p class="card__desc">Unlimited Team Members<br/>24/ 7 Phone Support</p>
                <a href="#" class="card__btn">purchase</a>
            </li>
        </ul>
    </div>
</section>