.header {
    // max-width: 1380px;
    min-width: 320px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    // overflow: hidden;

    .header_wrapper {
        max-width: 1200px;
        min-width: 290px;
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: space-between;

        .logo_box {
            display: flex;
            width: 164px;
            height: 41px;
            position: relative;
            transition: 0.5s;
            cursor: pointer;

            .header_logo_hover {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: 0.5s;
            }

            .header_logo_title {
                margin-left: 17px;
                margin-top: 15px;
                color: $color_header;
                font-weight: $font_bold;
                font-size: 24px;
                transition: 0.5s;
            }
        }

        .logo_box:hover {
            .header_logo_hover {
                z-index: 1;
            }

            .header_logo_title {
                color: $title_color;
                text-transform: uppercase;
            }
        }

        .menu_list {
            margin-top: 11px;
            display: flex;
            width: 518px;
            height: 15px;
            box-sizing: border-box;

            .menu_item {
                margin-right: 48px;
                transition: 0.5s;

                .menu_link {
                    color: $color_header;
                    font-weight: $font_bold;
                    font-size: 16px;
                    text-decoration: none;
                    line-height: 17px;
                    transition: 0.5s;
                }
            }

            .menu_item:hover {
                .menu_link {
                    color: $title_color;
                }
            }

            .menu_item:nth-of-type(1) {
                min-width: 80px;
            }

            .menu_item:nth-of-type(2) {
                min-width: 95px;
            }

            .menu_item:nth-of-type(3) {
                min-width: 131px;
            }

            .menu_item:nth-of-type(4) {
                margin-right: 0;
                min-width: 60px;
            }
        }


        .header_buy_btn {
            width: 145px;
            padding: 11px 20px;
            border: 2px solid $color_header;
            border-radius: 40px;
            color: $title_color;
            font-size: $normal_size;
            font-weight: $font_bold;
            background-color: $color_header;
            box-sizing: border-box;
            margin: 0;
            transition: 0.5s;cursor: pointer;
        }

        .header_buy_btn:hover {
            color: $color_header;
            background-color: $title_color;
        }

        .menu_btn {
            display: none;
        }
    }
}

@media (max-width:1199px) and (min-width:910px) {
    .header {
        background-color: #27262A;
        height: 100px;
        box-sizing: border-box;

        .header_wrapper {
            padding: 22px 20px 18px 20px;
            box-sizing: border-box;
        }
    }
}

@media (max-width:909px) and (min-width:767px) {
    .header {
        background-color: #27262A;
        height: 120px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;

        .header_wrapper {
            padding: 30px 20px 18px 20px;
            box-sizing: border-box;
            flex-wrap: wrap;
            justify-content: space-between;

            .logo_box {
                order: 1;
            }

            .header_buy_btn {
                order: 2;
            }

            .menu_list {
                width: 560px;
                order: 3;
                margin: 0 auto;
                margin-top: 20px;
            }
        } 
    }
}

@media (max-width:767px) and (min-width:320px) {
    .header {
        width: 100%;
        background-color: #27262A;
        height: 103px;
        box-sizing: border-box;

        .header_wrapper {
            box-sizing: border-box;
            justify-content: space-between;
            padding: 16px 31px;

            .logo_box {
                width: 42px;

                .header_logo_title {
                    display: none;
                }
            }

            .menu_list{
                position: absolute;
                top: 100px;
                left: -400px;
                display: flex;
                flex-direction: column;
                background-color: #333333;
                width: 293px;
                height: 300px;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                display: none;

                .menu_item:hover {
                        padding-left: 0;
                        .menu_link {
                            border-left: 8px solid $title_color;
                            padding-left: 35px;
                            line-height: 26px;
                            font-size: 18px;
                        }
                }

                &.active {
                    top: 250%;
                    left:50%;
                    transform:translate(-50%, -50%);
                    display: block;
                }


            }

            .menu_btn {
                margin-top: 10px;
                display: block;
                width: 26px;
                height: 21px;
                position: relative;
                cursor: pointer;
                z-index: 2;

                .header_menu_btn_line {
                    width: 26px;
                    height: 3px;
                    position: absolute;
                    top: 9px;
                    right: 0;
                    background-color: $title_color;
                    transition: all 0.5s;
                    border-radius: 3px;
               } 

                .header_menu_btn_line:nth-of-type(1) {
                    top: 0;
                    width: 15px;
                }

                .header_menu_btn_line:nth-of-type(3) {
                    top: 18px;
                }

                &.active .header_menu_btn_line:nth-of-type(1) {
					display: none;
				}
				&.active .header_menu_btn_line:nth-of-type(2) {
				top: 50%;
				transform: translate(-50%, 0%) rotate(45deg);  
				}
				&.active .header_menu_btn_line:nth-of-type(3) {
				top: 50%;
				transform: translate(-50%, 0%) rotate(-45deg); 
				}
            }
        }

        .menu_item {
            padding-top: 28px;
            padding-bottom: 24px;
            padding-left: 36px;
            width: 100%;
            border-bottom: 1px solid #3B3B3B;
            box-sizing: border-box;

            .menu_link {
                font-size: 26px;
                color: $title_color;
                font-weight: $font_defoult;
                width: auto;
            }
        }
    }
}
